## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
import sys
sys.path.insert(1,"../")
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Nikolskoye,RU,59.7035,30.7861,10.99,78,40,4.47,light snow
1,1,Nongan,CN,44.3820,125.1685,35.60,51,0,13.42,clear sky
2,2,Esperance,AU,-33.8667,121.9000,66.20,88,75,9.22,broken clouds
3,3,Jamestown,US,42.0970,-79.2353,45.00,49,40,12.03,scattered clouds
4,4,Hermanus,ZA,-34.4187,19.2345,59.00,70,75,3.00,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Atuona,PF,-9.8000,-139.0333,79.29,74,65,14.38,broken clouds
10,10,Saint-Philippe,RE,-21.3585,55.7679,77.00,69,0,8.05,clear sky
11,11,Kavaratti,IN,10.5669,72.6420,82.45,72,36,7.38,scattered clouds
12,12,Butaritari,KI,3.0707,172.7902,80.28,81,100,10.36,overcast clouds
13,13,Mahebourg,MU,-20.4081,57.7000,77.00,88,40,3.44,scattered clouds
16,16,Pangai,TO,-19.8000,-174.3500,82.40,69,20,8.05,few clouds
23,23,Rikitea,PF,-23.1203,-134.9692,80.94,80,100,9.44,light rain
24,24,Puerto Ayora,EC,-0.7393,-90.3518,81.00,85,79,8.99,broken clouds
27,27,Satwas,IN,22.5333,76.6833,70.52,24,0,3.51,clear sky
28,28,Sibolga,ID,1.7427,98.7792,74.41,74,89,2.59,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                251
City                   251
Country                250
Lat                    251
Lng                    251
Max Temp               251
Humidity               251
Cloudiness             251
Wind Speed             251
Current Description    251
dtype: int64

In [13]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head(10)
#clean_df.count()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Atuona,PF,-9.8000,-139.0333,79.29,74,65,14.38,broken clouds
10,10,Saint-Philippe,RE,-21.3585,55.7679,77.00,69,0,8.05,clear sky
11,11,Kavaratti,IN,10.5669,72.6420,82.45,72,36,7.38,scattered clouds
12,12,Butaritari,KI,3.0707,172.7902,80.28,81,100,10.36,overcast clouds
13,13,Mahebourg,MU,-20.4081,57.7000,77.00,88,40,3.44,scattered clouds
16,16,Pangai,TO,-19.8000,-174.3500,82.40,69,20,8.05,few clouds
23,23,Rikitea,PF,-23.1203,-134.9692,80.94,80,100,9.44,light rain
24,24,Puerto Ayora,EC,-0.7393,-90.3518,81.00,85,79,8.99,broken clouds
27,27,Satwas,IN,22.5333,76.6833,70.52,24,0,3.51,clear sky
28,28,Sibolga,ID,1.7427,98.7792,74.41,74,89,2.59,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Atuona,PF,79.29,broken clouds,-9.8000,-139.0333,
10,Saint-Philippe,RE,77.00,clear sky,-21.3585,55.7679,
11,Kavaratti,IN,82.45,scattered clouds,10.5669,72.6420,
12,Butaritari,KI,80.28,overcast clouds,3.0707,172.7902,
13,Mahebourg,MU,77.00,scattered clouds,-20.4081,57.7000,
16,Pangai,TO,82.40,few clouds,-19.8000,-174.3500,
23,Rikitea,PF,80.94,light rain,-23.1203,-134.9692,
24,Puerto Ayora,EC,81.00,broken clouds,-0.7393,-90.3518,
27,Satwas,IN,70.52,clear sky,22.5333,76.6833,
28,Sibolga,ID,74.41,overcast clouds,1.7427,98.7792,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" 

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json() 
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [40]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229 entries, 5 to 701
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City                 229 non-null    object
 1   Country              229 non-null    object
 2   Max Temp             229 non-null    float64
 3   Current Description  229 non-null    object
 4   Lat                  229 non-null    float64
 5   Lng                  229 non-null    float64
 6   Hotel Name           229 non-null    object
dtypes: float64(3), object(4)
memory usage: 14.3+ KB

In [41]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
    
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [44]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}</dd>

</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [45]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))